.navbar{
    width: 100%;
    height: 70px;
    border: solid;
    display: flex;
    align-items: center;
}

.navbar ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}